body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .a9s-annotation.dicom-annotation .a9s-formatter-el .a9s-shape-label-wrapper .a9s-shape-label {
    background-color:rgb(170, 0, 0);
  }

  .a9s-annotation.editable .a9s-formatter-el .a9s-shape-label-wrapper .a9s-shape-label {
    background-color: red
  }

  .a9s-annotation.dicom-annotation:hover .a9s-formatter-el .a9s-shape-label-wrapper .a9s-shape-label {
    background-color:red
  }

  .a9s-annotationlayer .a9s-annotation .a9s-inner, 
  .a9s-annotationlayer .a9s-selection .a9s-inner {
    stroke-width: 4px;
    stroke: red;
    fill:#cb1e0022;
}

.a9s-annotation .a9s-inner:hover {
  stroke: #00fff7;
  fill:#cb1e0022;
}

.a9s-annotation .a9s-inner {
  stroke: #00fff7;
  fill:#cb1e0022;
}

.a9s-annotation.editable .a9s-inner, .a9s-annotation.editable .a9s-inner:hover {
  stroke: red;
  cursor: move !important;
  fill:#cb1e0022;
}

.a9s-handle .a9s-handle-inner {
  stroke: red;
  fill: red;
}
.a9s-handle .a9s-handle-inner:hover {
  stroke: rgb(170, 0, 0);
  fill: rgb(170, 0, 0);
}

.a9s-handle .a9s-handle-outer {
  stroke: red;
  fill: red;
}

.a9s-annotation.selected .a9s-inner, .a9s-selection .a9s-inner, .a9s-annotation.selected .a9s-inner:hover, .a9s-selection .a9s-inner:hover {
  stroke: red;
}

  .a9s-annotation.dicom-annotation .a9s-inner {
    stroke:rgb(170, 0, 0);
    stroke-width: 4px;
  }

  .a9s-annotation.dicom-annotation .a9s-inner:hover {
    stroke:red;
    fill:#cb1e0022;
  }

  .a9s-annotation.dicom-annotation .a9s-outer:hover {
    stroke:red;
    fill:#cb1e0022;
  }
